html,
body {
  height: 100%;
  width: 100%;
  background: #fff;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
#app {
  background: #fff;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main-container {
  padding: 0px 0px;
}

.nut-navbar {
  margin-bottom: 0;
}
.nut-navbar__title {
  font-weight: 700;
  font-size: 20px;
}

.full-width-uploader {
  .nut-uploader__upload {
    width: 100%;
  }
}

.orders-container {
  .nut-cell-group {
    box-shadow: 0 0 3px #ccc;
  }
  .nut-pagination {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.order-product {
  .nut-uploader {
    .nut-uploader__upload,
    .nut-uploader__preview-img {
      width: 64px;
      height: 64px;
    }
  }
}

.loader-inner {
  margin: 50px auto;
}
.ball-grid-pulse > div {
  background-color: #ccc;
}